<h2> Lista dos Usuários-Obra</h2>
<a href="{% url 'criar_usuario_obra' %}">Cadastrar novo usuário-obra</a>
<ul>
    {% for usuario_obra in usuario_obras %}
        <li>
            <a href="{% url 'detalhe_usuario_obra' usuario_obra.id %}">{{ usuario_obra }}</a>
            <a href="{% url 'editar_usuario_obra' usuario_obra.id %}">Editar</a>
            <a href="{% url 'excluir_usuario_obra' usuario_obra.id %}">Excluir</a>
        </li>
    {% empty %}
        <li>Nenhum usuário-obra encontrado.</li>
    {% endfor %}
</ul>
