

<nav style="background-color: #f0f0f0; padding: 10px; margin-bottom: 20px;">
    <strong>Menu do Sistema:</strong>
    <a href="{% url 'listar_obras' %}">Obras</a> | 
    <a href="{% url 'listar_escolas' %}">Escolas</a> | 
    <a href="{% url 'listar_avaliacoes' %}">Avaliações</a> | 
    <a href="{% url 'listar_usuario_obras' %}">Usuário-Obras</a> | 
    
    <!-- Botão de Sair no cantinho -->
    <a href="{% url 'logout' %}" style="color: red; float: right;">Sair do Sistema</a>
</nav>

<hr><h1>Lista das Obras</h1>

<a href="{% url 'criar_obra' %}">Cadastrar Nova Obra</a>

{% for obra in obras %}
    <div>
        <a href="{% url 'detalhe_obra' obra.id %}">
            <strong>{{ obra.titulo }}</strong>
        </a>

        <a href="{% url 'editar_obra' obra.id %}">
            Editar
        </a>

        <a href="{% url 'excluir_obra' obra.id %}">
            Excluir
        </a>
    </div>
{% empty %}
    <p>Nenhuma obra cadastrada até agora.</p>
{% endfor %}
